body {
    padding: 0px;
    margin: auto;
    background-color: #171717;
    max-width: 1200px;

}

/*
    background-image: radial-gradient(circle, #666A62, #30312E);
}
*/

h2 {
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    color: #ffa500;
}

p {
    font-family: 'Lato', sans-sef;
    line-height: 25px;
}

::selection {
    color: black;
    background: #ffa500;
}

img {
    width: 100%;
    height: auto;
}

/*navigation*/

/*BURGER MENU*/
.hidden {
    display: none;
    transform: translateX(-100%);
    opacity: 0;

}

#menuknap {
    display: inline-block;
    color: #ffa500;
    font-size: 32px;
    float: right;

}

#menu {
    list-style-type: none;
    transition: transform .3s;
    transform-origin: top left;
    background-color: #242424;
    font-size: 20px;
    padding: 0px;
    margin: 0px;
    text-align: left;

}

#farve1 {
    background-color: #3f3e3e;
}

#menu a {
    text-decoration: none;
    color: white;
    font-family: 'Lato', sans-sef;
    margin-left: 10px;
}


#menu a:hover {
    color: #ffa500;
}

@media only screen and (min-width: 699px) {

    #menuknap {
        display: none;
    }

    #menu.hidden {
        transform: translateX(0);
        opacity: 1;
    }

    #menu li {
        display: inline-block;
    }
}

/*TOP MENU*/

.topnav {
    background-color: #171717;
    overflow: auto;

}

.logo img {
    width: 60%;
}

.logo {
    position: absolute;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 22px 22px 22px 2px;
    text-decoration: none;
    font-size: 20px;
    float: right;
    font-family: 'Lato', sans-serif;
}

.topnav a:hover {
    color: #ffa500;
}



@media only screen and (max-width: 700px) {
    .topnav {
        display: none;
    }
}

#citat {
    justify-content: center;

}

/*animation af tekst*/


#designanimate {
    padding-top: 300px;
    padding-bottom: 300px;
    -webkit-animation: designanimate 2000ms 0.5s both;
    animation: designanimate 2000ms 0.5s both;
}

@-webkit-keyframes designanimate {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
    }
}

@keyframes designanimate {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
    }
}

.knap1 {
    font-size: 60px;
    text-align: center;
    padding-top: 110px;
}

.knap1 a {
    color: #f2f2f2;

}

.knap1 a:hover {
    color: #ffa500;

}

/*kortinfo */

#kortinfo h2 {
    flex-wrap: wrap;
    font-size: 30px;
    text-align: center;
}

#kortinfo p {
    text-align: justify;

}

#kortinfo {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    margin-bottom: 200px;
    justify-content: space-around;


}

.col {
    flex-basis: 400px;
    margin: 30px;
    font-size: 20px;
    color: white;

}

.top {
    width: 100px;
    height: 100px;
    margin-top: 20px;
    margin-left: 40%
}

/*Projekter */

#projekter {
    background-color: #242424;
}

#projekter h2 {
    padding-top: 20px;
    font-size: 50px;
    text-align: center;

}

.container {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: center;

}


/*Om siden*/

#ommig {
    display: flex;
    padding-bottom: 50px;
}

.text h2 {
    text-align: justify;
}

.text {
    flex-basis: 700px;
    margin: auto;
    color: white;
    padding-bottom: 200px;
}


/*portfolio*/
.container {
    max-width: 1200px;
    padding-top: 200px;
    padding-bottom: 200px;
    margin: auto;
    text-align: center;
    position: relative;
    ;
}

.col2 {
    margin: 5px;
    max-width: 280px;
    flex-grow: 1;
    flex-basis: 300px;
    color: white;
    background-color: #242424;
    border: 3px solid white;

}


.col2:hover {
    border: 3px solid #ffa500;
    text-transform: uppercase;
}

/*tema sider*/

.wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-bottom: 30px;
    max-width: 1200px;
    border-radius: 10px;


}

.beskrivelse {
    text-align: justify;
    margin: 20px;
    color: white
}

.beskrivelse a {
    color: white;
    text-align: center;
    text-decoration: none;
    font-family: 'Lato', thin;
    text-transform: uppercase;
    opacity: 0.6;

}

.beskrivelse a:hover {
    color: #ffa500;
    opacity: 1.0;
}

.beskrivelse h2 {
    text-align: left;
    font-weight: bold 700;
}

.knap2 {

    padding-top: 40px;
    float: left;
    font-size: 20px;
}

.knap3 {
    padding-top: 40px;
    float: right;
    font-size: 20px;
}

}

.matriale {
    margin: 20px;
    justify-content: center;

}

.matriale img {
    position: relative;
    text-align: center;
    border: 2px solid #ffa500;
    margin: 20px;
}

video {
    border: 2px solid #ffa500;
    margin: 20px;
    max-width: 100%;
    width: auto;
}

.video {
    display: flex;
    position: relative;
    justify-content: center;
}

@media only screen and (max-width: 700px) {
    video {
        border: none;
        margin: 20px;
        max-width: 100%;
        width: auto;
    }
}

/*fOOTER*/
#footer {
    color: #ffa500;
    padding: 50px;
    text-align: center;
    font-size: 30px;
    background-color: #11717;
}

#footer a {
    color: #ffa500;
}
